button {
  margin: 2px;

  &.active {
    background: greenyellow;
  }
}

.btn-wide {
  min-width: 220px;
}

.mat-mdc-card {
  background: #ddd;
}

:host {
  --mat-button-protected-disabled-container-color: #777;
}